/* src/components/Header.css */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:5vw;
box-shadow: 0% 0.1333% 0.2667% rgba(0, 0, 0, 0.2);

    background-color:black;
    z-index:900;
  }
  /* styles.css */

/* Define the modal class to create a modal overlay */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1000; /* Adjust the z-index to control the stacking order */
}

/* Define the modal-content class to style the modal content */
.modal-content {
  background: white;
  padding: 1.3333%;
box-shadow: 0% 0% 3.3333% rgba(0, 0, 0, 0.2);
border-radius: 0.6667%;
}
